table,th,td,tr{
  border: 3px solid green;
  border-collapse: collapse;
  margin: auto;
}
table
{
  color: red;
  font-size: larger;
  font-weight: bolder;
}
td
{
  color: darkmagenta;
}
#form_id
{
  margin:auto;
  width: max-content;
  background:chartreuse;
  padding: 5%;
}
#error_id
{
  margin:auto;
  width: max-content;
  color:crimson;
  font-weight: bolder;
  padding: 1%;
}
.Buttons{
  font-weight: bolder;
  color: chartreuse;
  margin: auto;
  font-size: larger;
  background-color: red;
  width:fit-content;
  text-decoration: none;
}
p{
  margin: auto;
}

.action{
  color:black;
  font-weight: bolder;
  cursor:pointer;
  padding: auto;
}
.action:hover{
  color:white;
}