table,th,td,tr{
  border: 3px solid green;
  border-collapse: collapse;
  margin: auto;
}
table
{
  color: red;
  font-size: larger;
  font-weight: bolder;
}
td
{
  color: darkmagenta;
}
#form_id
{
  margin:auto;
  width: max-content;
  background:chartreuse;
  padding: 5%;
}
#error_id
{
  margin:auto;
  width: max-content;
  color:crimson;
  font-weight: bolder;
  padding: 1%;
}
p{
  margin: auto;
}