body{
  background-color: cornflowerblue;
}
h1{
  font-size: 70pt;
  text-align: center;
  font-weight: bold;
  color: coral;
}
.main_navigation
{
  font-weight: bolder;
  margin: auto;
  font-size: larger;
  width:fit-content;
  text-decoration: none;
  background-color:yellow;
}